html {
  font-family: "Noto Sans JP", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: black;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #aa8a00;
  color: white;
}

.navbar a.first {
  margin-left: 40%;
}

header {
  padding-left: 17%;
  padding-right: 17%;
  background-color: #aa8a00;
  height: 5.5vw;
  position: relative;
}

header h2 {
  margin: 0px auto;
  padding-top: 10px;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 35px;
}

.logo {
  color: rgba(255, 237, 158, 0.2);
  font-size: 100px;
  font-weight: 900;
  font-family: "Coda", cursive;
  position: absolute;
  right: 350px;
  bottom: -20px;
}

#slideback {
  background-color: black;
}

#slideshow {
  overflow: hidden;
  height: 650px;
  width: 1300px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 5200px;
  -webkit-animation: slide 10s ease infinite;
}

.slide {
  float: left;
  height: 650px;
  width: 1300px;
  align-items: center;
}

.slideimg {
  width: 1300px;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -1300px;
  }
  50% {
    margin-left: -1300px;
  }
  60% {
    margin-left: -2600px;
  }
  70% {
    margin-left: -2600px;
  }
  80% {
    margin-left: -3900px;
  }
  90% {
    margin-left: -3900px;
  }
}

.links {
  height: 100px;
  background-color: #aa8a00;
  text-align: center;
}

.links i {
  color: rgba(255, 237, 158, 0.5);
  font-size: 50px;
  padding: 23px;
}

.links i:hover {
  color: floralwhite;
}

.footer {
  height: 50px;
  background-color: black;
  margin: 0px auto;
  overflow: auto;
  padding-top: 10px;
  text-align: center;
}

.copy {
  color: white;
  float: left;
  margin-left: 50px;
}

.tags {
  color: white;
  margin-right: 180px;
  display: inline-block;
}

.footer img {
  width: 30px;
  float: right;
  margin-right: 50px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body-content {
  margin: 0px auto;
  background-color: black;
  color: white;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: "Noto Sans JP", sans-serif;
}

#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid white;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}

#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: black;
  border: 5px solid white;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}

.content:before,
.content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}

.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.content:after {
  border-right-color: black;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}

.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
  color: #aa8a00;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}

.radio:checked + .relative .circle {
  background: #aa8a00;
}

.radio:checked ~ .content {
  max-height: 580px;
  border-color: white;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear,
    transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 600px;
  color: white;
  transition: color 0.3s linear 0.3s;
}

table {
  border-collapse: collapse;
  border-color: white;
}

td,
th {
  text-align: center;
  padding: 8px;
}

.title {
  background-color: #aa8a00;
}

.together {
  column-count: 2;
  column-gap: 40px;
}

.two {
  padding-top: 1px;
  padding-left: 65px;
}

#two {
  padding-left: 65px;
}

.social a i {
  color: gray;
}

.social a i:hover {
  color: floralwhite;
}

.social a img {
  filter: brightness(0) invert(1);
  opacity: 0.3;
}

.social a img:hover {
  filter: brightness(0) invert(1);
  opacity: 1;
}

.media {
  justify-content: space-between;
}

.news p {
  color: white;
}

/* -------------------------------------
  * mobile phones (vertical version only)
  * ------------------------------------- */
/* *  @media screen and (max-width: 767px)
  *    #timeline
  *      margin-left: 0
  *      padding-left: 0
  *      border-left: none
  *      li
  *        margin: 50px 0
  *    label
  *      width: 85%
  *      font-size: 1.1em
  *      white-space: nowrap
  *      text-overflow: ellipsis
  *      overflow: hidden
  *      display: block
  *      transform: translateX(18px)
  *    .content
  *      padding-top: 45px
  *      border-color: $white
  *      &:before, &:after
  *        border: solid transparent
  *        bottom: 100%
  *      &:before
  *        border-bottom-color: inherit
  *        border-width: 17px
  *        top: -16px
  *        left: 50px
  *        margin-left: -17px
  *      &:after
  *        border-bottom-color: $bg
  *        border-width: 20px
  *        top: -20px
  *        left: 50px
  *        margin-left: -20px
  *      p
  *        font-size: 0.9em
  *        line-height: 1.4
  *    .circle, .date
  *      display: none */
